In [14]:
import pandas
#df_1 = pandas.read_excel("http://eci.nic.in/eci_main/archiveofge2014/34%20Details%20of%20Assembly%20segment%20of%20PC.xls")
#you can use the command above to download and process the file, I prefer to process the files after they've\
#been downloaded, so that I don't have to redownload every single time I analyse it

df_1 = pandas.read_excel("34 Details of Assembly segment of PC.xls")
df_1.head()

,Details of Assembly Segments of Parliamentary Constituencies,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,State-UT Code & Name,PCNO,PC NAME,AC NO,AC NAME,TOTAL ELECTORS IN AC,TOTAL VOTES IN STATE,NOTA VOTES EVM,CANDIDATE NAME,PARTY,VOTESSECURED EVM
1,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,BANKA SAHADEV,IND,949
2,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,GODAM NAGESH,TRS,44815
3,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,MOSALI CHINNAIAH,IND,1036
4,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,NARESH,INC,29235

In [15]:
df_1.columns = df_1.iloc[0]
#df_2 = df_1.ix[1:]
df_1.head()

,State-UT Code & Name,PCNO,PC NAME,AC NO,AC NAME,TOTAL ELECTORS IN AC,TOTAL VOTES IN STATE,NOTA VOTES EVM,CANDIDATE NAME,PARTY,VOTESSECURED EVM
0,State-UT Code & Name,PCNO,PC NAME,AC NO,AC NAME,TOTAL ELECTORS IN AC,TOTAL VOTES IN STATE,NOTA VOTES EVM,CANDIDATE NAME,PARTY,VOTESSECURED EVM
1,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,BANKA SAHADEV,IND,949
2,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,GODAM NAGESH,TRS,44815
3,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,MOSALI CHINNAIAH,IND,1036
4,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,NARESH,INC,29235

In [21]:
df_2 = df_1.ix[1:]
df_2.head()

,State-UT Code & Name,PCNO,PC NAME,AC NO,AC NAME,TOTAL ELECTORS IN AC,TOTAL VOTES IN STATE,NOTA VOTES EVM,CANDIDATE NAME,PARTY,VOTESSECURED EVM
1,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,BANKA SAHADEV,IND,949
2,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,GODAM NAGESH,TRS,44815
3,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,MOSALI CHINNAIAH,IND,1036
4,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,NARESH,INC,29235
5,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,NETHAWATH RAMDAS,IND,5064

In [24]:
df_2.reset_index(drop=True, inplace=True)
df_2.head()

,State-UT Code & Name,PCNO,PC NAME,AC NO,AC NAME,TOTAL ELECTORS IN AC,TOTAL VOTES IN STATE,NOTA VOTES EVM,CANDIDATE NAME,PARTY,VOTESSECURED EVM
0,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,BANKA SAHADEV,IND,949
1,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,GODAM NAGESH,TRS,44815
2,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,MOSALI CHINNAIAH,IND,1036
3,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,NARESH,INC,29235
4,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,NETHAWATH RAMDAS,IND,5064

In [25]:
df_2.dtypes

0
State-UT Code & Name    object
PCNO                    object
PC NAME                 object
AC NO                   object
AC NAME                 object
TOTAL ELECTORS IN AC    object
TOTAL VOTES IN STATE    object
NOTA VOTES EVM          object
CANDIDATE NAME          object
PARTY                   object
VOTESSECURED EVM        object
dtype: object

In [29]:
df_2['VOTESSECURED EVM'] = df_2['VOTESSECURED EVM'].astype(float)
df_2.head()

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,State-UT Code & Name,PCNO,PC NAME,AC NO,AC NAME,TOTAL ELECTORS IN AC,TOTAL VOTES IN STATE,NOTA VOTES EVM,CANDIDATE NAME,PARTY,VOTESSECURED EVM
0,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,BANKA SAHADEV,IND,949.0
1,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,GODAM NAGESH,TRS,44815.0
2,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,MOSALI CHINNAIAH,IND,1036.0
3,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,NARESH,INC,29235.0
4,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,NETHAWATH RAMDAS,IND,5064.0

In [30]:
df_2["ac_vote_max"] = df_2.groupby("AC NAME")["VOTESSECURED EVM"].transform(max)
df_2.head()

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,State-UT Code & Name,PCNO,PC NAME,AC NO,AC NAME,TOTAL ELECTORS IN AC,TOTAL VOTES IN STATE,NOTA VOTES EVM,CANDIDATE NAME,PARTY,VOTESSECURED EVM,ac_vote_max
0,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,BANKA SAHADEV,IND,949.0,44815.0
1,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,GODAM NAGESH,TRS,44815.0,44815.0
2,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,MOSALI CHINNAIAH,IND,1036.0,44815.0
3,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,NARESH,INC,29235.0,44815.0
4,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,NETHAWATH RAMDAS,IND,5064.0,44815.0

In [31]:
df_3 = df_2.loc[df_2["VOTESSECURED EVM"] == df_2["ac_vote_max"]]
df_3.head()

,State-UT Code & Name,PCNO,PC NAME,AC NO,AC NAME,TOTAL ELECTORS IN AC,TOTAL VOTES IN STATE,NOTA VOTES EVM,CANDIDATE NAME,PARTY,VOTESSECURED EVM,ac_vote_max
1,Andhra Pradesh,1,Adilabad,1,Sirpur,190962,48026634,2511,GODAM NAGESH,TRS,44815.0,44815.0
9,Andhra Pradesh,1,Adilabad,5,Asifabad,190257,48026634,3629,GODAM NAGESH,TRS,66168.0,66168.0
17,Andhra Pradesh,1,Adilabad,6,Khanapur,186545,48026634,2764,GODAM NAGESH,TRS,69250.0,69250.0
25,Andhra Pradesh,1,Adilabad,7,Adilabad,223262,48026634,1975,GODAM NAGESH,TRS,72673.0,72673.0
33,Andhra Pradesh,1,Adilabad,8,Boath,176205,48026634,2447,GODAM NAGESH,TRS,66928.0,66928.0

In [36]:
df_3["State-UT Code & Name"].unique()

array([u'Andhra Pradesh', u'Arunachal Pradesh', u'Assam', u'Bihar', u'Goa',
       u'Gujarat', u'Haryana', u'Himachal Pradesh', u'Jammu & Kashmir',
       u'Karnataka', u'Kerala', u'Madhya Pradesh', u'Maharashtra',
       u'Manipur', u'Meghalaya', u'Mizoram', u'Nagaland', u'Odisha',
       u'Punjab', u'Rajasthan', u'Sikkim', u'Tamil Nadu', u'Tripura',
       u'Uttar Pradesh', u'West Bengal', u'Chhattisgarh', u'Jharkhand',
       u'Uttarakhand', u'Andaman & Nicobar Islands', u'Chandigarh',
       u'Dadra & Nagar Haveli', u'Daman & Diu', u'NCT OF Delhi',
       u'Lakshadweep', u'Puducherry'], dtype=object)

In [37]:
df_4 = df_3[df_3['State-UT Code & Name'].isin(['Goa','Manipur','Punjab','Uttar Pradesh','Uttarakhand'])]
df_4.head()

,State-UT Code & Name,PCNO,PC NAME,AC NO,AC NAME,TOTAL ELECTORS IN AC,TOTAL VOTES IN STATE,NOTA VOTES EVM,CANDIDATE NAME,PARTY,VOTESSECURED EVM,ac_vote_max
9703,Goa,1,North Goa,1,Mandrem,30238,806897,362,SHRIPAD YESSO NAIK,BJP,16357.0,16357.0
9710,Goa,1,North Goa,2,Pernem,30373,806897,389,SHRIPAD YESSO NAIK,BJP,17064.0,17064.0
9717,Goa,1,North Goa,3,Bicholim,24782,806897,275,SHRIPAD YESSO NAIK,BJP,12959.0,12959.0
9724,Goa,1,North Goa,4,Tivim,24970,806897,217,SHRIPAD YESSO NAIK,BJP,12097.0,12097.0
9731,Goa,1,North Goa,5,Mapusa,26739,806897,255,SHRIPAD YESSO NAIK,BJP,13257.0,13257.0

In [38]:
df_4.groupby(['State-UT Code & Name','PARTY'])['PARTY'].count()

State-UT Code & Name  PARTY
Goa                   BJP       33
                      INC        7
Manipur               AITC       1
                      BJP        3
                      CPI        9
                      INC       38
                      NPF        9
Punjab                AAAP      33
                      BJP       16
                      INC       37
                      IND        2
                      SAD       29
Uttar Pradesh         AD         9
                      BJP      326
                      BSP        9
                      INC       15
                      SP        42
Uttarakhand           BJP       57
                      INC        7
Name: PARTY, dtype: int64

In [40]:
df_uttarakhand2 = df_4[df_4['State-UT Code & Name']== 'Uttarakhand']
df_uttarakhand2.to_csv('uttarakhand_2014B.csv')

In [41]:
df_goa2 = df_4[df_4['State-UT Code & Name']== 'Goa']
df_goa2.to_csv('goa_2014B.csv')
df_manipur2 = df_4[df_4['State-UT Code & Name']== 'Manipur']
df_manipur2.to_csv('manipur_2014B.csv')
df_punjab2 = df_4[df_4['State-UT Code & Name']== 'Punjab']
df_punjab2.to_csv('punjab_2014B.csv')
df_uttar_pradesh2 = df_4[df_4['State-UT Code & Name']== 'Uttar Pradesh']
df_uttar_pradesh2.to_csv('uttar_pradesh_2014B.csv')

In [ ]:
'''If found that there were discrepancies between the set of results obtained above
    and the indiavotes.com database, especially for Uttar Pradesh,
    so I had to go manually through another set of election commision files
    to double-check and make corrections
'''